@font-face {
    font-family: Whyte-Inktrap;
    src: url("Whyte-Inktrap-Regular") format("opentype");
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*
{
    box-sizing: border-box;
}


#frame,#canvas
{
    display: none;
}



button
{
    background-color : hsl(94deg 88% 38%)  !important;
    background-color : hsl(94deg 88% 38%) ;
    color: white !important;
    font-weight: bold;
    letter-spacing: 1px;
}

input,button
{
    width: 100%;
    height: 40px;
    background-color:  #42245d0a ;
    margin: 10px 3px;
    text-align: center;
    color: inherit;
    padding: 0 12px!important;
    line-height: inherit!important;
    border: 0 !important;
    border-radius: .2rem !important;
    font-family: 'Whyte-Inktrap',serif!important;
    font-size: 13px;
    box-sizing: border-box;
}

h1
{
    font-family: 'Whyte-Inktrap',serif!important;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    margin: 20px 0px;
    color : hsl(94deg 88% 38%) ;
    color : hsl(94deg 88% 38%) ;

}




@media screen and
(min-width: 1024px)
{
        #form-container
    {
        margin:calc(0.5*(100vh - 250px)) 0px;
        padding: 25.5px 32px ;
        border-radius: .25rem;
        background-color: white;
        align-content: center;
        width: 25%;
        height: 250px;
        box-shadow: 0 0.2em 0.2em #42245d0a, 0 0.6em 3em #5d526b30;
    }
}

@media screen and
(min-width: 768px) and
(max-width: 1024px)
{
        #form-container
    {
        margin:calc(0.5*(100vh - 250px)) 0px;
        padding: 25.5px 32px ;
        border-radius: .25rem;
        background-color: white;
        align-content: center;
        width: 60%;
        height: 250px;
        box-shadow: 0 0.2em 0.2em #42245d0a, 0 0.6em 3em #5d526b30;
    }
}


@media screen and
(max-width: 767px)
{
        #form-container
    {
        margin:calc(0.5*(100vh - 300px)) 0px;
        padding: 25.5px 32px ;
        border-radius: .25rem;
        background-color: white;
        align-content: center;
        width: 80%;
        height: 300px;
        box-shadow: 0 0.2em 0.2em #42245d0a, 0 0.6em 3em #5d526b30;
    }
}
